<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test thread-count="5" name="Automation Center - Test Project">
        <packages>
            <package name="com.fatih.automation.tests.*"/>
        </packages>
    </test> <!-- Automation Center - Test Project -->
</suite> <!-- Default Suite -->